<div class="navbar">
  <nav>
    <h1>How Provide</h1>

    <div class="menu">
      <a [routerLink]="['/deps']" routerLinkActive="active">Dependencies</a>

      <div class="dropdown">
        <a>Provider Types</a>
        <div class="dropdown-menu">
          <a [routerLink]="['/types/factory']" routerLinkActive="active">Factory</a>
          <a [routerLink]="['/types/alias']" routerLinkActive="active">Use Existing</a>
          <a [routerLink]="['/types/multi']" routerLinkActive="acitve">Multi Provider</a>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class="main-content">
  <router-outlet></router-outlet>
</div>