<div class="navbar navbar-expand-lg navbar-dark bg-danger">

  <nav class="container">
    <span class="navbar-brand">Reactive Forms</span>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/hello']" routerLinkActive="active">Hello</a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/form-group']" routerLinkActive="active" class="nav-link">Form Group</a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/form-array']" routerLinkActive="active" class="nav-link">Form Array</a>
      </li>

      <li class="nav-item">
        <a [routerLink]="['/cross']" routerLinkActive="active" class="nav-link">Validations</a>
      </li>
    </ul>
  </nav>
</div>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>