<div class="card">
    <div class="card-header">
        <h3>Hello</h3>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col">
                <div>
                    <div class="form-group">
                        <label>Message</label>
                        <input [formControl]="message" type="text" class="form-control mt-1"
                            placeholder="Please Enter Message">
                    </div>

                    <div class="mt-2">
                        <button type="button" (click)="send()" class="btn btn-outline-danger">Send</button>
                    </div>
                </div>

            </div>

            <div class="col">

                <div>
                    <label>Value</label>
                    <div class="bg-dark text-white px-4 pt-4 pb-2 mt-1 rounded shadow">
                        <pre>{{message.value}}</pre>
                    </div>
                    <div class="py-4">
                        {{messageValue}}
                    </div>
                </div>

                <div class="mt-4">
                    <label>Error</label>
                    <div class="bg-dark text-white px-4 pt-4 pb-2 mt-1 rounded shadow">
                        <pre>{{message.errors | json}}</pre>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>